.container{
    text-align: center;
}
.twitter, .btn_zuri, .books, .python_books, .pitch, .book_design{
    width: 90%;
    margin: 5px 0 5px 0;
    background-color: #EAECF0;
   
}
.twitter{
    background-color: #1DA1F2;
    color: white;
}
.twitter-link{
    text-decoration: none;
    color: #ffff;
}


.zuri-free-link, .skill-link, .python-books-link, .books-link, .zuri-team-link{
    color: black;
    text-decoration: none;

}
.twitter-link:hover, .zuri-team-link:hover, .books-link:hover, .python-books-link:hover, .skill-link:hover, .zuri-free-link:hover{
    color: white;
}
.slack{
    padding: 4px;

}
footer{
    margin-top: 5%;
    
}
.zuri-internship{
    padding: 2% 0 3% 0;
    text-align: left;
}
.frontend-task{
    color: #667085;
    padding: 0 0 0 15%;
    
}
